body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(90deg,dodgerblue,slateblue);
    margin-bottom: 100px;
}
#title{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: white;
}
#description{
    color:white;
    text-align: center;
    font-size: 20px;
}
#survey-form{
    background-color: black;
    margin-left:20%;
    margin-right:20%;
    max-width: 60%;
    margin-top:20px;
    border-radius: 13px;
    color: white;
    font-size: 26px;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 60px;
    padding-bottom: 20px;
    border:3px solid rgb(63, 12, 204);

}
input[type=text],input[type=email],input[type=number], select{
    width: 70%;
    padding: 12px 20px;
    border-radius: 10px;
    display: inline-block;
    border: 1px solid rgb(62, 65, 66);
    box-sizing: border-box;
}
select{
    width: 70%;
    padding: 12px 20px;
    border-radius: 10px;
    display: inline-block;
    border: 1px solid rgb(62, 65, 66);
    box-sizing: border-box;
    margin-left: 90px;
}

button[type=submit] {
    width: 60%;
    background-color: rgb(57, 54, 218);
    color: white;
    padding: 14px 20px;
    margin: 8px;
    margin-left: 80px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}